#### Funtions
Functions are block of code(Multiple statements), it just creates, doesn't returns the output until the function name is called.
    
    Syntax is
    def keyword function definition
    def functionname():
    
    statements

Following are some basic functions:

In [1]:
def add(x,y):
    return x+y

In [2]:
add(2,5)

7

In [3]:
def diff(x,y):
    return x-y

In [4]:
diff(9,3)

6

In [5]:
def prod(x,y):
    return x*y

In [6]:
prod(7,3)

21

In [7]:
def div(x,y):
    return x/y

In [8]:
div(15,5)

3.0

In [9]:
def sq(x):
    return(x*x)

In [10]:
sq(9)

81

In [11]:
def oddeven(n):
        if n%2==0:
            print("{} is even number".format(n))
        else:
                  print("{} is odd number".format(n))

In [12]:
oddeven(5)

5 is odd number

In [13]:
def Intro (name, city):
    print("Hello, my name is {}, I am from {}.".format(name, city))

In [14]:
Intro('Karuna', 'Mumbai')

Hello, my name is Karuna, I am from Mumbai.

In [18]:
def factorial(n) -> object:
    return 1 if (n==1 or n==0) else n * factorial(n-1)
n= int(input("enter number"))
print(factorial(n))

enter number3
6